body {
    background: #9800AE;
    background: linear-gradient(to bottom, rgba(152, 0, 174, 1) 0%, rgba(0, 255, 238, 1) 100%) fixed;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px 10px 0px;
    padding: 0px 30px 0px 30px;
}

p {
    color: white;
}