body {
    background: #9800AE;
    background: linear-gradient(to bottom, rgba(152, 0, 174, 1) 0%, rgba(0, 255, 238, 1) 100%) fixed;
}

h1 {
    color: white;
/*    text-align: center;
    margin: 20px 10px 0px;
    padding: 0px 30px 0px 30px; */
}

p {
    color: white;
}

.headerwrap {
    text-align: center;
    padding: 40px 0;
/*    border-radius: 10px; */
    position: relative;
}

.imgcontainer {
    width: 50px;
    position: absolute;
    left: 20px;
}

h2 {
    color: white;
}

.logos {
    filter: invert(100%) sepia(0%) saturate(7455%) hue-rotate(217deg) brightness(93%) contrast(116%);
    width: 15px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #00ffee;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}